<template>

  <div id="boardWrapper" class="flex items-center shrink w-auto justify-center">

    <div class="w-full w-8 flex flex-col-reverse">
      <template v-for="(row,row_index) in 8" :key="row_index">
        <div class="w-8  flex items-center bg-dark-600 text-white text-xs justify-center font-semibold"
             :class="{'pb-[16px]': row === 1,'pt-[16px]': row === 8}"
             :style="{height:  (row === 1 || row === 8 ? squareSize + 32: squareSize)+ 'px'}"
        >
        </div>
      </template>
    </div>

    <template v-for="(col,col_index) in cols" :key="col">

      <div class="w-full flex   flex-col-reverse"
           :style="{
               width:(squareSize)+ 'px',
             }"
      >

        <template v-for="(row,row_index) in 8" :key="row_index">

          <template v-if="row_index === 0">
            <div class=" h-8 text-xs bg-dark-600 text-white  flex items-center justify-center font-semibold"
                 :style="{width:(squareSize)+ 'px'}"
            >
              <template v-if="props.showCoordinates">
                {{ col }}
              </template>
            </div>
          </template>

          <ChessSquare :row="row"
                       :col="col"
                       :mark-field="markField"
                       :row-index="row_index"
                       :col-index="col_index"
                       @square-clicked="squareClicked"
                       :square-size="squareSize"
          />

          <template v-if="row_index === 7">
            <div class=" h-8 w-20 text-xs bg-dark-600 text-white  flex items-center justify-center font-semibold"
                 :style="{width:(squareSize)+ 'px'}"
            >
            </div>
          </template>

        </template>

      </div>

    </template>

    <div class="w-full w-8 flex flex-col-reverse">
      <template v-for="(row,row_index) in 8" :key="row_index">

        <div class="w-8  flex items-center bg-dark-600 text-white text-xs justify-center font-semibold"
             :class="{'pb-[16px]': row === 1,'pt-[16px]': row === 8}"
             :style="{height:  (row === 1 || row === 8 ? squareSize + 32: squareSize)+ 'px'}"
        >
          <template v-if="props.showCoordinates">
            {{ getRowNumber(row) }}
          </template>
        </div>
      </template>
    </div>

  </div>

</template>

<script setup lang="ts">

/*
 * Components
 */
import ChessSquare from './Square.vue'

/*
 * Vue utils
 */
import {nextTick, onMounted, defineProps, defineEmits, ref, inject} from "vue"

/*
 * Types
 */
import {answerType, colsContentType, markFieldType, playAsOption} from "@/types/board";

/*
 * Props
 */
const props = defineProps<{
  cols: colsContentType,
  showCoordinates: boolean,
  markField: markFieldType
}>()

/*
 * Emits
 */
const emit = defineEmits<{
  (e: 'square-clicked', value: answerType): void
}>()

const squareClicked = (square: answerType): void => emit('square-clicked', square)

const squareSize = ref<number>(100) //px

/*
 * Set square size based on resolution
 */
const setSquareDimensions = (): void => {
  const positionInfo = document.getElementById('boardWrapper')!.getBoundingClientRect();
  const height = positionInfo.width;
  const width = positionInfo.height;
  squareSize.value = Math.floor(((width > height ? height : width) - 64) / 8)
}

const play_as = inject('PLAY_AS')
const getRowNumber = (row_number: number) => play_as.value === playAsOption.white ? row_number : 8 - (row_number - 1)

onMounted(() => {

  nextTick(() => {
    setSquareDimensions()
  })

  window.addEventListener('resize', () => setSquareDimensions());

})

</script>