<template>

  <div @click="squareClicked()"
       class=" hover:cursor-pointer  "
       :class="[getColBackground]"
       :style="{
          width:(props.squareSize )+ 'px',
          height:(props.squareSize ) + 'px',
       }"
  >

  </div>

</template>

<script setup lang="ts">

import {defineEmits, defineProps, computed} from "vue";

import {
  answerType,
  markFieldType,
  rowType,
  colType,
  squareColors
} from '@/types/board.ts'

const props = defineProps<{
  row: rowType,
  col: colType,
  markField: markFieldType,
  rowIndex: number,
  colIndex: number,
  squareSize: number
}>()

const emit = defineEmits<{
  (e: 'square-clicked', value: answerType): void
}>()

const squareClicked = (): void => emit('square-clicked', {
  row: props.row,
  col: props.col
})

const isOdd = (num: number): boolean => num % 2 === 0

const isThisSquareMarked = computed<boolean>(() => props.markField.field.col === props.col && props.markField.field.row === props.row)

const defaultSquareBgColor = computed(() => isOdd(props.colIndex) && isOdd(props.rowIndex) || !isOdd(props.colIndex) && !isOdd(props.rowIndex) ? squareColors.black : squareColors.white)
const getColBackground = computed<string>(() => isThisSquareMarked.value ? `bg-${props.markField.color.toLowerCase()}` : defaultSquareBgColor.value)


</script>
