<template>

  <div class="h-screen p-8 flex justify-center bg-white w-full">

    <ChessBoard :cols="cols"
                :show-coordinates="show_coordinates"
                :mark-field="markField"
                @square-clicked="squareClicked"
    />

    <!-- Sidebar -->
    <div class="items-stretch flex flex-col justify-between w-full w-[320px] shrink-0 px-10">

      <div class="items-stretch">

        <template v-if="gameIsRunning">

          <div>
            čas: {{ timeLeft }}s
          </div>

          <div class="">
            {{ countCorrectAnswersCount }}/{{ questions.length }}
          </div>

          <div class="font-bold my-8 text-center text-4xl">
            {{ test_player.col }}{{ test_player.row }}
          </div>

        </template>

        <template v-else>
          <div @click="startGame()"
               class="text-white bg-dark-600 py-2 px-4 rounded-lg shadow text-center uppercase hover:cursor-pointer hover:opacity-75">
            hrať
          </div>
        </template>

      </div>

      <div class="">

        <div class="text-xl mt-10 font-medium">
          Nastavenia
        </div>

        <div class="flex items-center  mt-2 justify-between">

          <div class="mr-10">
            Hrať ako:
          </div>

          <div class="flex items-center">
            <div class="mr-4 flex items-center space-x-2">
              <label for="white" class="hover:underline hover:cursor-pointer">Biely</label>
              <input id="white" v-model="play_as" type="radio" :value="playAsOption.white">
            </div>

            <div class="mr-4 flex items-center space-x-2">
              <label for="black" class="hover:underline hover:cursor-pointer">Čierny</label>
              <input id="black" v-model="play_as" type="radio" :value="playAsOption.black">
            </div>
          </div>

        </div>

        <div class="flex items-center mt-2 justify-between">

          <label for="show-coordinates" class="mr-10 hover:underline hover:cursor-pointer">
            Zobraziť súdradnice:
          </label>

          <div class="mr-4 flex items-center space-x-2">
            <input id="show-coordinates" v-model="show_coordinates" type="checkbox">
          </div>

        </div>

        <div class="flex mt-2 items-center justify-between">

        <span class="mr-10">
           Čas (s)
        </span>

          <div class="mr-4 flex items-center space-x-2">
            <input v-model.number="intervalLength" type="number" class="w-20">
          </div>

        </div>

      </div>

    </div>

  </div>


</template>

<script setup lang="ts">

/*
 * Vue utils
 */
import {computed, reactive, provide, watch, ref} from "vue";

/*
 * Components
 */
import ChessBoard from '@/components/Board.vue'

/*
 * Types
 */
import {
  playAsOption,
  answerType,
  markFieldType,
  markColor,
} from '@/types/board.ts'

/*
 * Content
 */

import {
  cols_content,
  defaultMarkField
} from '@/content/board.ts'

/*
 * Game Options
 */
const intervalLength = ref<number>(15)
const show_coordinates = ref<boolean>(true)
const play_as = ref<playAsOption>(playAsOption.white)

provide('PLAY_AS', computed((): playAsOption => play_as.value))

/*
 * cols for render board
 * - order by player color
 */
const cols = computed<string[]>(() => play_as.value === playAsOption.white ? cols_content : [...cols_content].reverse())

/*
 * Mark field state
 */
const markField = reactive<markFieldType>(defaultMarkField())

const setMarkFieldToDefault = (): void => {
  const defaultFieldData = defaultMarkField()
  markField.field = defaultFieldData.field
  markField.color = defaultFieldData.color
}

/*
 * cancel interval after field is marked
 */
let markFieldTimer: any;
watch(() => markField, (square: markFieldType): void => {

  if (square.field.row !== 0) {
    if (markFieldTimer) {
      clearTimeout(markFieldTimer)
    }
    console.log('ssss')
    markFieldTimer = setTimeout(() => setMarkFieldToDefault(), 50)
  }

}, {deep: true})

const test_player = ref<answerType | undefined>()
const questions = ref<answerType[]>([])
const answers = ref<answerType[]>([])

const squareClicked = ({col, row}: { col: string, row: number }): void => {

  answers.value.push({col, row})
  questions.value.push(test_player.value as answerType)

  const answerIsCorrect = test_player.value?.col === col && test_player.value?.row === row

  /*
   * Mark answer
   */
  setMarkFieldToDefault()
  markField.field.row = row
  markField.field.col = col
  markField.color = answerIsCorrect ? markColor.green : markColor.red

  goToNextQuestion()

}

let gameInterval: any;

const randomInteger = (min: number, max: number) => Math.floor(Math.random() * (max - min + 1)) + min;

const generateTestQuestion = (): answerType => ({
  col: cols_content[randomInteger(0, 7)],
  row: randomInteger(1, 8)
})

const goToNextQuestion = (): answerType => test_player.value = generateTestQuestion()

const gameIntervalCounter = ref<number>(0)

const gameIsRunning = computed<boolean>(() => gameIntervalCounter.value !== 0)

const timeLeft = computed<number>(() => intervalLength.value - gameIntervalCounter.value + 1)


const startGame = () => {

  questions.value = []
  answers.value = []
  gameIntervalCounter.value = 1

  goToNextQuestion()

  gameInterval = setInterval(() => {

    gameIntervalCounter.value++

    if (gameIntervalCounter.value === intervalLength.value + 1) {
      endGame()
    }

  }, 1000)

}

const countCorrectAnswersCount = computed<number>(() => answers.value.filter((answer: answerType, answer_index: number) => answer.row === questions.value[answer_index].row && answer.col === questions.value[answer_index].col).length)
const endGame = () => {
  alert(`${countCorrectAnswersCount.value}/${questions.value.length}`)
  clearInterval(gameInterval)
  gameIntervalCounter.value = 0
}


</script>